.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.top-text{
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.name{
  font-family: Pirata One, sans-serif;
  font-size: 140px;
  line-height: 140px;
  color: white;
}
.pronouns{
  font-family: Pirata One, sans-serif;
  color: #1274fd;
  font-size: 64px;
}
.logo{
  font-family: Pirata One, sans-serif;
  color: white;
  font-size: 45px;
}
.nav-text{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: white;

}
*{
  background-color: rgb(18, 18, 18);
}
.btn{
  color: white;
  font-size: 25px;
  
}

.btn1{
  color: white;
  border: solid;
  margin-left: 30px;
  padding: 10px;
}
.home{
  background-color: var(--charcoal);
  outline-offset: 0px;
  color: var(--eggshell);
  outline: 3px #f2f7fc;
  margin-left: 40px;
  margin-right: 40px;
}
.text-hero{
  color: white;
  font-size: 27px;
}
.image{
  margin-top: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
.w-container {
  max-width: 100vw;
}

div {
  display: block;
}

* {
  box-sizing: border-box;
}

.w-container {
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto;
}

.nav-item{
  font-size: 30px;
  font-style: italic;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.section {
padding-top: 20vh;
padding-bottom: 20vh;
}

.navpad{
  padding-bottom: 20vh;
}

.namepad{
  padding-bottom: 25vh;
  position: static;
}

.text-hero{
  font-size: 40px;
}

.manpad{
  padding-bottom: 45vh;
}

.card-text{
  color: #f2f7fc;
  font-size: 20px;
}

.card-title{
  color: aliceblue;
  font-size: 32px;
}



.sword{
  position: absolute;
  top: 140px;
  left: 1400px; 
}

.blockquote{
  color: aliceblue;
}

.ceralig{
  text-align: justify;
}

.carousel-indicators{
  opacity: 30%;
}

.carpad{
  padding-bottom: 45vh;
}

.mantxt{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Pirata One, sans-serif;
  font-size: 66px;
  font-weight: 400;
  line-height: 80px;
  color: aliceblue;

}

.cartxt{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Pirata One, sans-serif;
  font-size: 66px;
  font-weight: 400;
  line-height: 80px;
  color: aliceblue;

}








.follow-along{
  color: aliceblue;
  padding-top: 25vh;
  padding-bottom: 15vh;
  text-align: center;
}

.social-link {
  border: 4px solid var(--eggshell);
  border-radius: 2px;
  padding: 20px;
}

.moth {
  z-index: -2;
  justify-content: flex-end;
  margin-bottom: -144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  display: flex;
  position: relative;
  top: auto;
}